body {
    background: red;
    position: relative;
    margin: 0;
}

.full-bleed {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: green;
}

svg * {
  /*transform-box: fill-box;*/
}

.fragment.btn-click {
}

.fragment.btn-click.visible {
    animation: .5s click;
}

@keyframes click {
    0% {
        transform: scale(1);
    }
    10% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1);
    }
};
