body {
    background: red;
    position: relative;
    margin: 0;
}

section {
    position: relative;
}

.bg-black {
    background: black;
}

.full-bleed {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

svg * {
  /*transform-box: fill-box;*/
}

.fragment.btn-click {
}

.fragment.btn-click.visible {
    animation: .5s click;
}

.fragment.btn-click.visible circle {
    fill: #ff0000 !important;
    stroke-width: 0.8;
    stroke: white;
}

.fragment.btn-click.visible rect {
    stroke-width: 0.8;
    stroke: white;
}

@keyframes click {
    0% {
        transform: scale(1);
    }
    10% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1);
    }
}

.reveal h1 {
    font-size: 200px;
}

.reveal h2 {
    font-size: 140px;
}

section[data-background-color=white] {
    color: black;
}

.reveal ol li {
    font-size: 180%;
    margin-bottom: 80px;
}
